<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.enesource.jump.web.dao.IAccnumberMdmidRelMapper">

	<insert id="saveAMRel" parameterType="com.enesource.jump.web.dto.AccnumberMdmidRelDTO">
		INSERT INTO t_accnumber_mdmid (company_id, accnumber, type, device_id, site_id, synele) 
		VALUES (#{companyId}, #{accnumber}, #{type}, #{deviceId}, #{siteId}, #{synele})
	</insert>
	
	<delete id="delAMRel" parameterType="com.enesource.jump.web.dto.AccnumberMdmidRelDTO">
		delete from t_accnumber_mdmid where company_id = #{companyId} and accnumber = #{accnumber}
	</delete>
	
	<update id="updateAMRelSyn" >
		update t_accnumber_mdmid set synele = #{synele} where company_id = #{companyId} and accnumber = #{accnumber}
	</update>
	
	<select id="findDeviceList" parameterType="map" resultType="map">
		SELECT r.company_id, s.doornumber, e.mdmid, e.site_id, e.parent_ele
		from sanhua.t_excel_element e, sanhua.t_site s, t_ent_accnumber_rel r 
		where e.mdmid IS NOT NULL and e.site_id = s.site_id and s.doornumber  = r.accnumber and r.type = 0 and e.propp_1 = '是'
		and s.doornumber = #{accnumber}
	</select>
	
</mapper>